html
	{
	height: 100%;
	min-height: 100%;
	border-width: 0px;
	}

body
	{
	height: 100%;
	min-height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	background-color: #F9F8F8;
	color: #000000;
	}

p, div, span { 
	font-size: 11px;
}

/*SlideShowBtn*/
.vcrButton{
	color:#2E4d7B;
	font-family:'trebuchet ms',helvetica,sans-serif;
	font-size: 12px;
	font-weight:bold;
	background-color:#ffffff;
	border:2px solid;
	border-color:#2E4d7B;
	padding-left:8px;
	padding-right:8px;
	margin-left:4px;
	margin-right:4px;
}
.vcrButton:hover
{
	color:#ffffff;
	background-color:#2E4d7B;
}



/* Accordion */
.accordionHeader
{
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #2E4d7B;
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.accordionHeader a
{
	color: #FFFFFF;
	background: none;
	text-decoration: none;
}

.accordionHeader a:hover
{
	background: none;
	text-decoration: underline;
}

.accordionHeaderSelected
{
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #5078B3;
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.accordionHeaderSelected a
{
	color: #FFFFFF;
	background: none;
	text-decoration: none;
}

.accordionHeaderSelected a:hover
{
	background: none;
	text-decoration: underline;
}

.accordionContent
{
    background-color: #D3DEEF;
    border: 1px dashed #2F4F4F;
    border-top: none;
    padding: 5px;
    padding-top: 10px;
}

/*Bio*/
.texttitle {
	color:#0066CC;
}

span.title, .container {
	padding: 2%;
}
